// color palette for qatar 2022
$color-2022-1: #961d35;
$color-2022-2: #e4dedb;
$color-2022-3: #aca4a4;
$color-2022-4: #b88d94;
$color-2022-5: #bf6878;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
